/* BODY */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* CONTAINERS */

.container-full-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: black; */
}

.container-customButton {
	width : 100%;
	justify-content: end;
}

.container-custom-colors {
	display: flex;
	justify-content: center;
}

.container-ball-nb {
	display: flex;
	justify-content: center;
}

.container-menu {
	flex: 1; /* Fill remaining vertical space */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-connection {
	display: flex;
	flex : 1;
	justify-content: center;
	align-items: center;
	max-width: 400;
}

.container-title {
	padding: 1rem 1rem;
	width: 100%;
}

.scrollable-container {
	max-height: 300px;
	overflow-y: auto;
}

.container-2fa {
	flex : 1;
	justify-content: center;
	align-items: center;
}

canvas {
	display: block;
	margin: 0 auto;
}

/* BUTTONS */

.color-box {
	width: 25px;
    height: 25px;
}

/* PONG TITLE */

.big-title {
	font-family: "JetBrains Mono", sans-serif;
	font-size: 180;
	font-weight: 200;
	font-style: normal;
}

.emptyContainer {
	display: flex;
	flex : 1;
}

.game-menu {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.status-circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.online {
	background-color: green;
}

.offline {
	background-color: red;
}

/* GAME STYLES */

#bot-id
{
	font-size: 20px;
}

#pvp-id
{
	font-size: 20px;
}

#canvas-id
{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 1;
	border-radius: 25px;
}

#canvas-2d
{
 	/*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 2;
    pointer-events: none; /* Le texte n'empêche pas l'interaction avec le canevas 3D */
	border-radius: 25px;
}

#gameContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

